In [1]:
p=355/1835
r=355/400

In [2]:
f1=2*((p*r)/(p+r))
f1

0.3176733780760626

In [3]:
82+98,90+96

(180, 186)

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
import pandas as pd
df=pd.read_csv('Stage C data.csv')

In [6]:
df

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385,0.023892,unstable
9996,3.392299,1.274827,2.954947,6.894759,4.349512,-1.663661,-0.952437,-1.733414,0.502079,0.567242,0.285880,0.366120,-0.025803,stable
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984,-0.031810,stable
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,0.037789,unstable
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,0.045263,unstable

In [7]:
df.drop('stab',axis=1,inplace=True)

In [8]:
df.shape

(10000, 13)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stabf   10000 non-null  object
dtypes: float64(12), object(1)
memory usage: 1015.8+ KB

In [10]:
df.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930

In [11]:
df.isnull().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stabf    0
dtype: int64

In [12]:
X=df.drop('stabf',axis=1)
y=df['stabf']

In [13]:
X,y

(          tau1      tau2      tau3      tau4        p1        p2        p3  \
 0     2.959060  3.079885  8.381025  9.780754  3.763085 -0.782604 -1.257395
 1     9.304097  4.902524  3.047541  1.369357  5.067812 -1.940058 -1.872742
 2     8.971707  8.848428  3.046479  1.214518  3.405158 -1.207456 -1.277210
 3     0.716415  7.669600  4.486641  2.340563  3.963791 -1.027473 -1.938944
 4     3.134112  7.608772  4.943759  9.857573  3.525811 -1.125531 -1.845975
 ...        ...       ...       ...       ...       ...       ...       ...
 9995  2.930406  9.487627  2.376523  6.187797  3.343416 -0.658054 -1.449106
 9996  3.392299  1.274827  2.954947  6.894759  4.349512 -1.663661 -0.952437
 9997  2.364034  2.842030  8.776391  1.008906  4.299976 -1.380719 -0.943884
 9998  9.631511  3.994398  2.757071  7.821347  2.514755 -0.966330 -0.649915
 9999  6.530527  6.781790  4.349695  8.673138  3.492807 -1.390285 -1.532193

             p4        g1        g2        g3        g4
 0    -1.723086  0.650456  0.859578  0.887445  0.958034
 1    -1.255012  0.413441  0.862414  0.562139  0.781760
 2    -0.920492  0.163041  0.766689  0.839444  0.109853
 3    -0.997374  0.446209  0.976744  0.929381  0.362718
 4    -0.554305  0.797110  0.455450  0.656947  0.820923
 ...        ...       ...       ...       ...       ...
 9995 -1.236256  0.601709  0.779642  0.813512  0.608385
 9996 -1.733414  0.502079  0.567242  0.285880  0.366120
 9997 -1.975373  0.487838  0.986505  0.149286  0.145984
 9998 -0.898510  0.365246  0.587558  0.889118  0.818391
 9999 -0.570329  0.073056  0.505441  0.378761  0.942631

 [10000 rows x 12 columns],
 0       unstable
 1         stable
 2       unstable
 3       unstable
 4       unstable
           ...
 9995    unstable
 9996      stable
 9997      stable
 9998    unstable
 9999    unstable
 Name: stabf, Length: 10000, dtype: object)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [15]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
scaled_train=pd.DataFrame(sc.fit_transform(X_train),columns=X_train.columns)
scaled_test=pd.DataFrame(sc.transform(X_test),columns=X_test.columns)

In [16]:
scaled_train

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,0.367327,-0.986042,0.650447,1.547527,-0.291490,0.061535,1.293862,-0.845074,0.160918,0.339859,0.585568,0.492239
1,-0.064659,0.089437,1.035079,-1.641494,0.619865,-0.067235,-1.502925,0.486613,-0.293143,-1.558488,1.429649,-1.443521
2,-1.467850,1.298418,-0.502536,1.166046,-0.180521,0.490603,0.682560,-0.855302,1.399350,1.451534,-1.045743,0.492489
3,0.820081,0.529920,1.299657,-1.141975,-0.812854,-0.763632,1.521579,0.658780,-0.958319,1.361958,1.604140,0.275303
4,0.665424,-1.425627,0.312300,0.919137,-1.614296,0.760315,1.422019,0.639243,1.676895,0.695660,1.137504,-1.312575
...,...,...,...,...,...,...,...,...,...,...,...,...
7995,1.551314,0.007408,-1.177640,1.016898,-0.397177,0.759820,-0.636951,0.572703,-1.209413,0.313976,-1.625728,-0.637401
7996,1.015925,-0.223483,-1.489381,-1.479078,0.451468,-0.731994,0.990355,-1.048148,-1.094647,-0.755209,0.734821,-0.304433
7997,0.657609,-0.722756,-1.405888,-0.274301,-0.012584,1.438694,-0.364266,-1.046683,1.253539,0.293100,-1.550587,0.810344
7998,-0.059316,-1.260532,-1.010471,-0.877808,-0.779769,0.828824,0.516923,0.018984,-0.182448,-0.388255,-0.726781,1.667916
7999,-1.473214,0.638438,0.250122,-0.996484,1.950944,-1.163800,-0.732842,-1.513302,1.230438,-1.174110,1.179282,0.783627

In [17]:
scaled_test

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,0.593951,-0.412733,1.503924,1.116943,0.403423,-1.492971,-0.785033,1.566781,-0.901007,1.167203,-1.507330,1.084726
1,0.202190,0.374416,-0.188800,-0.522268,-0.225967,-1.058483,0.420047,1.028627,-1.625721,-0.395660,1.414651,1.226011
2,-1.079044,-0.313745,-0.884634,0.017080,-0.943122,0.112653,0.801335,0.733004,1.457108,-1.438495,0.651821,-1.682168
3,-0.083120,-1.107327,0.372805,-1.708152,0.753990,-1.637972,0.403805,-0.088036,0.083322,-1.672322,-0.357714,1.055865
4,0.873921,1.438466,0.086662,1.715037,-0.153880,-0.007015,-0.197053,0.472315,0.136549,-1.469731,0.956396,-0.819727
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1.119679,-0.675220,-1.382912,1.287865,0.249565,-0.803325,0.734497,-0.369263,0.485786,-0.115528,-1.264683,-1.283117
1996,-1.077913,-0.808691,1.033449,0.337636,-0.166587,0.340913,0.988085,-1.035753,0.952386,0.892766,-1.062502,-1.094114
1997,0.947825,-1.663727,-1.653920,0.532665,-1.518329,1.590144,0.091613,0.974455,-1.233963,0.126391,0.573445,1.319350
1998,-1.120235,0.193979,-0.237805,0.421570,-1.162671,0.738702,0.027367,1.265833,1.524336,0.794087,-1.362323,-0.801971
1999,-1.377640,1.511867,0.282651,1.510837,0.648241,-1.486786,-0.781586,1.130007,0.493337,-0.917497,0.002950,1.189023

In [18]:
from sklearn.ensemble import RandomForestClassifier,ExtraTreesClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

In [19]:
rf=RandomForestClassifier(random_state=1)
ext= ExtraTreesClassifier(random_state=1)
xgb=XGBClassifier(random_state=1)
lgb=LGBMClassifier(random_state=1)

In [20]:
rf.fit(scaled_train,y_train)
ext.fit(scaled_train,y_train)
xgb.fit(scaled_train,y_train)
lgb.fit(scaled_train,y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=1, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [21]:
pred_rf=rf.predict(scaled_test)
pred_ext= ext.predict(scaled_test)
pred_xgb= xgb.predict(scaled_test)
pred_lgb= lgb.predict(scaled_test)

In [22]:
from sklearn.metrics import accuracy_score, precision_score,recall_score,f1_score,confusion_matrix
np.round(accuracy_score(y_test,pred_rf),4)
print('Random Forest Accuracy: {}' .format(accuracy_score(y_test,pred_rf)))

Random Forest Accuracy: 0.929

In [23]:
from sklearn.metrics import accuracy_score, precision_score,recall_score,f1_score,confusion_matrix
np.round(accuracy_score(y_test,pred_xgb),4)
print('Xgboost Accuracy: {}' .format(accuracy_score(y_test,pred_xgb)))

Xgboost Accuracy: 0.9195

In [24]:
from sklearn.metrics import accuracy_score, precision_score,recall_score,f1_score,confusion_matrix
np.round(accuracy_score(y_test,pred_lgb),4)
print('lightgbm Accuracy: {}' .format(accuracy_score(y_test,pred_lgb)))

lightgbm Accuracy: 0.9375

In [25]:
#Hyperparameter grig for Randomizedsearchcv on ExtraTreeClassifier
n_estimators=[50,100,300,500,1000]
min_samples_split=[2,3,5,7,9]
min_samples_leaf=[1,2,4,6,8]
max_features=['auto','sqrt','log2', None]


hyperparameter_grid= {'n_estimators':n_estimators,'min_samples_leaf':min_samples_leaf,
                      'min_samples_split':min_samples_split,'max_features':max_features}

In [27]:
from sklearn.model_selection import RandomizedSearchCV
rcv= RandomizedSearchCV(ext, hyperparameter_grid,cv=5,random_state=1,scoring='accuracy',n_iter=10,n_jobs=-1,verbose=1)
rcv.fit(scaled_train,y_train)
rcv.best_params_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   55.4s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  1.0min finished

{'n_estimators': 1000,
 'min_samples_split': 2,
 'min_samples_leaf': 8,
 'max_features': None}

In [28]:
tuned_ext=ExtraTreesClassifier(random_state=1,n_estimators=1000,min_samples_split=2,min_samples_leaf=8,max_features=None)
tuned_ext.fit(scaled_train,y_train)
tuned_ext_pred=tuned_ext.predict(scaled_test)

In [29]:
print('Accuracy after tuning'.format(accuracy_score(y_test,tuned_ext_pred)))

Accuracy after tuning

In [30]:
print('Accuracy before tuning'.format(accuracy_score(y_test,pred_ext)))

Accuracy before tuning

In [31]:
pd.Series(tuned_ext.feature_importances_).sort_values()

4     0.003683
7     0.004962
5     0.005337
6     0.005429
8     0.102562
9     0.107578
11    0.109541
10    0.113063
2     0.134680
3     0.135417
0     0.137240
1     0.140508
dtype: float64